@keyframes slide-right {
  from {left: -100%}
  to {left: 0}
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
:root {
  --skyblue-color: #2196f3;
  --blue-color: #009688;
  --orange-color: #ff9800;
  --red-color: #f44336;

  --black-color: #000;
  --white-color: #fff;
  --gray-color: #9e9e9e;
  --light-gray-color: #f1f1f1;
  --deep-gray-color: #616161;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: var(--black-color);
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}
a {
  text-decoration: none;
  color: var(--black-color);
}
img {
  max-width: 100%;
  height: auto;
}
ul {
  list-style-type: none;
}

/* Header Section */
header {
  background-color: var(--black-color);
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}
header .hamburger {
  color: var(--white-color);
  visibility: hidden;
}
header .hamburger i {
  margin-right: 0.5rem;
}
header .nav-brand {
  color: white;
  font-size: 1.5rem;
}

/* Sidebar */
aside {
  background-color: var(--white-color);
  width: 300px;
  position: fixed;
  top: 45px;
  animation: slide-right 0.5s ease;
  bottom: 0;
  overflow: auto;
  box-shadow: 2px 0px 15px rgba(0,0,0,0.2);
}
.aside__profile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  margin-bottom: 2.5rem;
}
.aside__profile img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}
.aside__profile__info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.aside__profile__info span {
  font-weight: 700;
}
.aside__social-icon {
  display: flex;
  gap: 1rem;
}
.nav-area h2 {
  margin-left: 2rem;
}
.nav {
  margin-top: 1rem;
}
.nav a {
  display: block;
  padding: 0.6rem 2rem;
}
.nav a:hover {
  background-color: var(--gray-color);
}
.nav .active {
  background-color: var(--skyblue-color);
  color: var(--white-color);
}
.nav a i {
  margin-right: 1rem;
}

/* Main Content  */
main {
  background-color: var(--light-gray-color);
  margin-left: 300px;
}
main > * {
  padding: 1.5rem;
}
main > section {
  padding-top: 2rem;
}

/* Dashboard */
.dashboard-section {
  padding-top: 3rem;
}
.dashboard__card-area {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.dashboard__card {
  background-color: var(--red-color);
  color: var(--white-color);
  padding: 1.5rem;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dashboard__card div {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.dashboard__card div i {
  font-size: 2.5rem;
}
.dashboard__card div span {
  font-size: 1.5rem;
}
.dashboard__card > span {
  font-size: 2rem;
}
.dashboard__card:nth-child(2) {
  background-color: var(--skyblue-color);
}
.dashboard__card:nth-child(3) {
  background-color: var(--blue-color);
}
.dashboard__card:nth-child(4) {
  background-color: var(--orange-color);
}

/* Feeds Section */
.feeds-section {
  display: flex;
  gap: 1rem;
}
.feeds-section h2 {
  margin-bottom: 1rem;
}
.regions {
  flex-basis: 40%;
}
.feeds {
  flex-basis: 60%;
}
.feeds table {
  border-collapse: collapse;
  width: 100%;
}
.feeds table tr:nth-child(odd) {
  background-color: var(--white-color);
}
.feeds table td {
  padding: 0.7rem 1rem;
}
.feeds table tr:nth-child(1) i {
  color: var(--skyblue-color);
}
.feeds table tr:nth-child(2) i {
  color: var(--red-color);
}
.feeds table tr:nth-child(3) i {
  color: var(--orange-color);
}
.feeds table tr:nth-child(4) i {
  color: var(--skyblue-color);
}
.feeds table tr:nth-child(5) i {
  color: var(--orange-color);
}
.feeds table tr:nth-child(6) i {
  color: var(--red-color);
}
.feeds table tr:nth-child(7) i {
  color: var(--blue-color);
}

/* Stats Section */
.stats-section > h2 {
  margin-bottom: 1rem;
}
.progress-section {
  margin-bottom: 1.5rem;
}
.progress-section > span {
  display: block;
  margin-bottom: 0.5rem;
}
.progress-bar {
  background-color: var(--gray-color);
  height: 40px;
}
.progress {
  background-color: var(--blue-color);
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.progress span {
  font-size: 1.2rem;
  color: var(--white-color);
}
.progress-section:nth-child(3) .progress {
  width: 50%;
  background-color: var(--orange-color);
}
.progress-section:nth-child(4) .progress {
  width: 75%;
  background-color: var(--red-color);
}

/* Countries Section */
.countries-section > h2 {
  margin-bottom: 1rem;
}
.countries-section table {
  border: 1px solid #d9d9d9;
  border-collapse: collapse;
  width: 100%;
}
.countries-section tr {
  border: 1px solid #d9d9d9;
}
.countries-section tr:nth-child(odd) {
  background-color: var(--white-color);
}
.countries-section tr:hover {
  background-color: var(--gray-color);
}
.countries-section td {
  padding: 0.8rem 1rem;
}
.countries-section .btn {
  margin-top: 1.5rem;
  display: inline-block;
  background-color: var(--gray-color);
  padding: 0.8rem 1.5rem;
}
.countries-section .btn:hover {
  background-color: #d9d9d9;
}

/* Users Section */
.users-section h2 {
  margin-bottom: 1rem;
}
.users-section table {
  width: 100%;
  background-color: var(--white-color);
  border-collapse: collapse;
  box-shadow: 0px 0px 25px rgba(0,0,0,0.2);
}
.users-section table img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}
.users-section tr {
  border-bottom: 1px solid #d9d9d9;
}
.users-section td {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 0.8rem 1rem;
}
.users-section table span {
  font-size: 1.5rem;
}

/* Recent Comments */
.comments-section > h2 {
  margin-bottom: 1rem;
}
.comment {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-bottom: 1rem;
}
.comment img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}
.comment-info h2 {
  display: inline-block;
  margin-right: 1rem;
}
.comment-info p {
  margin-top: 0.5rem;
}
.comment-info time {
  color: var(--gray-color);
}

/* Main Footer */
.main-footer {
  background-color: var(--deep-gray-color);
  color: #fff;
  margin-top: 4rem;
  padding: 3rem 2rem;
  display: flex;
  justify-content: space-between;
}
.main-footer > div {
  flex: 1;
}
.main-footer div h2 {
  margin-right: 3rem;
  border-bottom: 4px solid var(--blue-color);
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}
.main-footer div p {
  line-height: 2rem;
}
.main-footer div:nth-child(2) h2 {
  border-color: var(--red-color);
}
.main-footer div:nth-child(3) h2 {
  border-color: var(--orange-color);
}

/* Bottom Footer */
.bottom-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem;
  background-color: var(--gray-color);
}
.bottom-footer a {
  text-decoration: underline;
}

/* Responsive */
@media screen and (max-width: 992px) {
  header .hamburger {
    visibility: visible;
  }
  aside {
    animation: none;
    left: -350px;
    transition: left 0.5s ease;
  }
  aside.active {
    left: 0;
  }
  main {
    margin: 0;
  }
}
@media screen and (max-width: 768px) {
  .dashboard__card-area {
    flex-wrap: wrap;
  }
  .dashboard__card {
    flex-basis: 45%;
  }
  .feeds-section {
    flex-direction: column;
  }
  .feeds-section img {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .dashboard__card {
    flex-basis: 100%;
  }
  .comment {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
  .main-footer {
    flex-direction: column;
    gap: 2rem;
  }
  .bottom-footer {
    flex-direction: column;
    gap: 1rem;
  }
}