@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,700&display=swap');
:root {
  --skyblue-color: #2196f3;
  --black-color: #000;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: var(--black-color);
}
a {
  text-decoration: none;
  color: var(--black-color);
}
img {
  max-width: 100%;
}
ul {
  list-style-type: none;
}

/* Utilities */
.container {
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}
@media screen and (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}

